<!--<?xml version="1.0" encoding="UTF-8"?>-->
<!--<beans xmlns="http://www.springframework.org/schema/beans"-->
<!--       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"-->
<!--       xmlns:context="http://www.springframework.org/schema/context"-->
<!--       xsi:schemaLocation="http://www.springframework.org/schema/beans-->
<!--		https://www.springframework.org/schema/beans/spring-beans.xsd-->
<!--		http://www.springframework.org/schema/context-->
<!--		https://www.springframework.org/schema/context/spring-context.xsd">-->
<!--    &lt;!&ndash;    <bean id="account" class="aze.coders.entity.Account">&ndash;&gt;-->
<!--    &lt;!&ndash;        <property name="user" ref="employer"/>&ndash;&gt;-->
<!--    &lt;!&ndash;    </bean>&ndash;&gt;-->
<!--    <context:annotation-config/>-->
<!--    <bean id="account" class="aze.coders.entity.Account " init-method="startMethod" destroy-method="finishMethod" name="accountName"  autowire="constructor" scope="prototype">-->
<!--        &lt;!&ndash;        <property name="user" ref="customer"/>&ndash;&gt;-->
<!--&lt;!&ndash;        <constructor-arg ref="customer"/>&ndash;&gt;-->
<!--        <property name="account" value="AZE1763134"/>-->
<!--&lt;!&ndash;        <property name="currency" ref="currency"/>&ndash;&gt;-->

<!--    </bean>-->
<!--    <alias name="account" alias="acc"/>-->
<!--    <bean id="customer" class="aze.coders.entity.Customer"/>-->
<!--    <bean id="currency" class="aze.coders.entity.Currency">-->
<!--        <constructor-arg value="15" type="int"/>-->
<!--        <constructor-arg value="AZN"/>-->
<!--        <property name="name" value="Azerbaycan manati"/>-->
<!--        <property name="rates">-->
<!--            <map>-->
<!--                <entry key="AZN">-->
<!--                    <ref bean="rate07042024"/>-->
<!--                </entry>-->
<!--                <entry key="AZN">-->
<!--                    <bean id="rate06042024" class="aze.coders.entity.Rate">-->
<!--                        <constructor-arg value="06.04.2024"/>-->
<!--                        <property name="rate" value="1.7"/>-->
<!--                    </bean>-->
<!--                </entry>-->
<!--            </map>-->
<!--        </property>-->
<!--    </bean>-->
<!--&lt;!&ndash;    <bean id="employer" class="aze.coders.entity.Employer"/>&ndash;&gt;-->
<!--    <bean id="rate07042024" class="aze.coders.entity.Rate">-->
<!--        <constructor-arg value="07.04.2024"/>-->
<!--        <property name="rate" value="1.7025"/>-->
<!--    </bean>-->
<!--</beans>-->